.divC {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-right: 0;
}
Container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-right: 0;
}

.divC container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-right: 0;
}
